@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orelega+One&display=swap");

:root {
  /* COLOR */
  --white: #fff;
  --black: #0d1117;
  --dark-blue: #050786;
  --blue: #0004ff;
  --light-blue: #f1f9ff;
  --cyan: #00ffff;
  --green: #03ff00;
  --yellow: #ffff00;

  --primary-dark: var(--dark-blue);
  --primary-mid: var(--blue);
  --primary-light: var(--light-blue);
  --secondary-mid: var(--cyan);
  --tertiary-mid: var(--green);
  --tertiary-light: var(--yellow);

  --neutral-white: var(--white);
  --neutral-light: var(--light-gray);
  --neutral-black: var(--black);

  --background-color: var(--neutral-white);
  --foreground-color: var(--neutral-black);

  /* TYPOGRAPHY */
  --font-sans: "Barlow", sans-serif;
  --font-condensed: "Barlow Condensed", sans-serif;
  --font-semi-condensed: "Barlow Semi Condensed", sans-serif;

  --font-serif: "Orelega One", serif;

  --font-base: clamp(1rem, 1rem + 0.5vw, 1.125rem);
  --font-medium: clamp(1.75rem, 1.25rem + 2vw, 2rem);
  --font-large: clamp(1.75rem, 1.25rem + 2vw, 3rem);
  --font-small: clamp(0.875rem, 0.875rem + 0.2vw, 1rem);
  --font-xlarge: clamp(2.5rem, 3rem + 2vw, 5rem);

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --line-height-tight: 1.3;
  --line-height-normal: 1.6;
  --line-height-loose: 2;

  --letter-spacing-tight: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.1em;

  --text-max-width: 90ch;

  /* FOCUS STYLES */
  --focus-outline-color: var(--tertiary-mid);
  --focus-outline-width: 3px;
  --focus-outline-offset: 5px;

  /* SPACING */
  --rhythm: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-base);
  line-height: var(--line-height-normal);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: var(--font-condensed);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-base);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

a.highlighted-link {
  color: var(--primary-mid);
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--tertiary-mid);
  transition: all 200ms ease;
}

a.highlighted-link:hover,
a.highlighted-link:focus {
  color: var(--primary-dark);
  border-bottom: 2px solid var(--tertiary-light);
}

/* TYPOGRAPHY */
.page-intro {
  text-align: center;
  max-width: var(--text-max-width);
  margin: var(--rhythm) auto;
}

.intro-question {
  font-family: var(--font-serif);
}

.section-subtitle {
  text-transform: none;
  text-align: center;
  font-family: var(--font-serif);
}

.text-center {
  text-align: center;
  max-width: var(--text-max-width);
  margin: var(--rhythm) auto;
}

.normal-case {
  text-transform: none;
}

.nowrap {
  white-space: nowrap;
}

/* IMG  */
img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

picture {
  overflow: hidden;
}

/* USER PREFERENCES */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--neutral-white);
    background-color: var(--neutral-black);
  }

  .faq-card, .card{
    background-color: #f1f9ff16;
  }
  .faq-icon {
    color: #f1f9ffe2;
  }

  a.highlighted-link {
    color: var(--primary-light);
    border-bottom: 2px solid var(--tertiary-light);
  }
  a.highlighted-link:hover,
  a.highlighted-link:focus {
    color: var(--secondary-mid);
    border-bottom: 2px solid var(--tertiary-mid);
  }
}
