@font-face {
  font-family: "ShieldSans Regular";
  src: url("fonts/ShieldSans-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShieldSans Semibold Condensed";
  src: url("fonts/ShieldSans-SemiBoldCondensed.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShieldSans Bold";
  src: url("fonts/ShieldSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShieldSans Black";
  src: url("fonts/ShieldSans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ShieldSans Light Condensed";
  src: url("fonts/ShieldSans-LightCondensed.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "TeeLine Bold Italic";
  src: url("fonts/TeeLine-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  /* COLOR */
  --white: #fff;
  --black: #0d1117;
  --dark-blue: #050786;
  --blue: #0004ff;
  --light-blue: #f1f9ff;
  --cyan: #00ffff;
  --green: #03ff00;

  --primary-dark: var(--dark-blue);
  --primary-mid: var(--blue);
  --primary-light: var(--light-blue);
  --secondary-mid: var(--cyan);
  --tertiary-mid: var(--green);

  --neutral-white: var(--white);
  --neutral-light: var(--light-gray);
  --neutral-black: var(--black);

  --background-color: var(--neutral-white);
  --foreground-color: var(--neutral-black);

  /* TYPOGRAPHY */
  --font-sans: "ShieldSans Regular", sans-serif;
  --font-semibold: "ShieldSans Semibold Condensed", sans-serif;
  --font-bold: "ShieldSans Bold", sans-serif;
  --font-black: "ShieldSans Black", sans-serif;
  --font-serif: "TeeLine Bold Italic", serif;
  --font-light: "ShieldSans Light Condensed", sans-serif;

  --font-base: clamp(1rem, 1rem + 0.5vw, 1.125rem);
  --font-large: clamp(1.75rem, 1.25rem + 2vw, 2.5rem);
  --font-small: clamp(0.875rem, 0.875rem + 0.2vw, 1rem);
  --font-xlarge: clamp(2.5rem, 3rem + 2vw, 5rem);

  --font-weight-light: var(--font-light);
  --font-weight-regular: var(--font-sans);
  --font-weight-bold: var(--font-bold);

  --line-height-tight: 1.3;
  --line-height-normal: 1.6;
  --line-height-loose: 2;

  --letter-spacing-tight: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.1em;

  --text-max-width: 90ch;

  /* FOCUS STYLES */
  --focus-outline-color: var(--tertiary-color);
  --focus-outline-width: 3px;
  --focus-outline-offset: 3px;

  /* SPACING */
  --rhythm: 1.5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  font-size: var(--font-base);
  line-height: var(--line-height-normal);
  color: var(--foreground-color);
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: var(--font-semibold);
}

h2.event-title {
  font-size: var(--font-large);
}


p {
  font-size: var(--font-base);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

.font-teeline-bold-italic {
  font-family: var(--font-serif);
}

.text-center {
  text-align: center;
  max-width: var(--text-max-width);
  margin: var(--rhythm) auto;
}

.normal-case {
  text-transform: none;
}

.has-dots-left:after, .has-dots-right:after {
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='12' height='12' fill-opacity='1' fill='%230004FF'/%3E%3C/svg%3E");
    background-position: 0 100%;
    top: 7px;
    content: "";
    height: 32%;
    left: -.5rem;
    position: absolute;
    width: 31.5%;
    z-index: -20;
}

.has-dots-right:after {
  left: auto;
  right: 5px;
}