/* USER PREFERENCES */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--neutral-white);
    background-color: var(--neutral-black);
  }

  /* HOME */

  article.faq-card, article.card{
    background-color: #f1f9ff16;
  }

  .faq-icon {
    color: #f1f9ffe2;
  }

  a.highlighted-link {
    color: var(--primary-light);
    border-bottom: 2px solid var(--tertiary-light);
  }
  a.highlighted-link:hover,
  a.highlighted-link:focus {
    color: var(--secondary-mid);
    border-bottom: 2px solid var(--tertiary-mid);
  }

  .btn {
    background-color: var(--neutral-white);
    color: var(--primary-mid);
  }

  /* CONTACT */
  #contact-hero {
    background-color: #23262c;
  }
  
  .form-label {
    color: var(--neutral-white);
  }

  input, textarea, select {
    background-color: var(--neutral-white);
    color: var(--neutral-black);
    border: 1px solid var(--neutral-light);
  }

  strong.validation-message {
    color: var(--tertiary-light);
  }

  .callout {
    border: 1px solid var(--neutral-light);
  }
}